/*#region MAIN STYLES */
:root {
  --color-white: #fff;
  --color-white-darkbox: #f2f2f2;
  --color-white-lightbox: #f7f7f7;
  --color-white-overlay: #fffffffa;
  --color-white-yes: #24242440;
  --color-dark: #242424;
  --color-dark-darkbox: #242424;
  --color-dark-lightbox: #292929;
  --color-dark-overlay: #2e2e2efa;
  --color-dark-yes: #ffffff40;
  --color-lightwhite: #ffffff0d;
  --color-green: #00aa63;
  --color-alt-green: #4fc3a1;
  --color-red: #f04545;
  --box-shadow: 0 3px 6px #00000029, 0 3px 6px #0000003b;
}

[data-theme="light"] {
  --color-bg: var(--color-white);
  --color-fg: var(--color-dark);
  --color-darkbox: var(--color-white-darkbox);
  --color-lightbox: var(--color-white-lightbox);
  --color-overlay: var(--color-white-overlay);
  --color-label-yes: var(--color-white-yes);
}

[data-theme="dark"] {
  --color-bg: var(--color-dark);
  --color-fg: var(--color-white);
  --color-darkbox: var(--color-dark-darkbox);
  --color-lightbox: var(--color-dark-lightbox);
  --color-overlay: var(--color-dark-overlay);
  --color-label-yes: var(--color-dark-yes);
}

body {
  background-color: var(--color-bg);
  inset: 0;
  position: fixed;
  -webkit-tap-highlight-color: transparent;
}

body, button, input:not(.login-field > input) {
  font-family: 'Futura PT', sans-serif;
}

input:not(.login-field > input) {
  display: flex;
  color: var(--color-fg);
  background: var(--color-lightbox);
  border-radius: 5px;
  border: 1px solid var(--color-lightwhite);
  outline: none;
  transition: border .25s;
}

input:not(.login-field > input, .checkbox > input):focus {
  border-color: var(--color-green);
}

.fadeIn {
  animation: fadeIn .2s linear forwards;
}

.fadeOut {
  animation: fadeOut .2s linear forwards;
  pointer-events: none;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.main {
  display: grid;
  height: 100%;
  grid-template-columns: 100%;
  grid-template-rows: 15% 15% 70%;
  max-width: 1000px;
  margin: auto;
}

.grid-dark-box {
  background-color: var(--color-darkbox);
  border-radius: 5px;
  width: 100%;
  height: 90%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 40% 60%;
  box-shadow: var(--box-shadow);
}

.dropdown {
  background-color: var(--color-lightbox);
  width: 100%;
  height: 100%;
  color: var(--color-fg);
  border-radius: 5px;
  border: none;
  outline: none;
  font-family: 'Futura PT', 'sans-serif';
  font-size: clamp(16px, 4vw, 38px);
}

.grid-titles {
  display: grid;
  grid-template-columns: 2.5% 97.5%;
  grid-template-rows: 100%;
  width: 98.75%;
  height: 100%;
  margin: auto;
}

.grid-radios {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
  width: 98.75%;
  margin: auto;
}

.grid-main-box {
  border-radius: 5px;
  width: 100%;
  height: 100%;
  background-color: var(--color-darkbox);
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 10% 17.5% 17.5% 17.5% 17.5% 20%;
  box-shadow: var(--box-shadow);
}

.grid-options {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
  align-self: center;
  min-height: 50%;
  max-height: 50%;
}

.grid-options-overlay {
  display: grid;
  grid-template-columns: 50% 25% 25%;
  grid-template-rows: 100%;
  margin-left: .75%;
  height: 100%;
}

.grid-options-overlay .grid-titles {
  grid-template-columns: 5% 95%;
}

.grid-btn-holder {
  display: grid;
  grid-template-columns: 50% 50%;
  width: 98.75%;
  height: 50%;
  margin: auto;
}

.button {
  font-size: clamp(14px, 3vw, 24px);
  color: var(--color-white);
  border-radius: 6px;
  background: var(--color-green);
  box-shadow: var(--box-shadow);
  border: 0;
  display: block;
  width: 75%;
  height: 85%;
  max-width: 300px;
  margin: auto;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
}

.button:hover {
  transform: scale(1.05);
}

.button:active {
  transform: scale(.95);
}

.line {
  display: inline-flex;
  background: var(--color-green);
  border-radius: 5px;
  width: .5vw;
  height: 75%;
  margin: auto;
  box-shadow: var(--box-shadow);
}

.light-box {
  display: flex;
  background-color: var(--color-lightbox);
  border-radius: 5px;
  width: 98.5%;
  height: 100%;
  max-height: 6vh;
  align-items: center;
  margin: auto;
  box-shadow: var(--box-shadow);
}

.name-box {
  font-size: clamp(16px, 4vw, 38px);
  display: flex;
  color: var(--color-fg);
  background-color: var(--color-lightbox);
  border-radius: 5px;
  text-indent: 2px;
  width: 100%;
  height: 90%;
}

.border-box {
  width: 95%;
  height: 75%;
  background-color: var(--color-lightbox);
  border-radius: 5px;
  box-shadow: var(--box-shadow);
}

.titles {
  display: inline-flex;
  align-items: center;
  color: var(--color-fg);
  font-style: italic;
  cursor: default;
}

.fa-lightbulb {
  margin: 10px 10px 0px auto;
  font-size: clamp(16px, 5vw, 24px);
  color: var(--color-fg);
  cursor: pointer;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.4);
  width: 40px;
  height: 40px;
  border-radius: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  transition: color .2s linear;
}

.fa-lightbulb:hover {
  color: var(--color-green);
}

h1 {
  font-size: clamp(16px, 3vw, 28px);
}

h2 {
  font-size: clamp(14px, 2.5vw, 26px);
}
/*#endregion MAIN STYLES */

/*#region LOGIN */
#login-page {
  height: 100%;
  width: 100%;
  z-index: 899;
  position: fixed;
  inset: 0;
  opacity: 0;
  background: var(--color-alt-green);
}

.pop-up {
  opacity: 1 !important;
  animation: pop-up 0.3s ease-in-out 1 normal;
}

@keyframes pop-up {
  from {
      opacity: 0;
      transform: translateY(5%);
  }

  to {
      opacity: 1;
      transform: translateY(0%);
  }
}

#login-wrapper {
  width: 90%;
  max-width: 600px;
  height: 50%;
  max-height: 500px;
  background: var(--color-fg);
  border-radius: 8px;
  box-shadow: var(--box-shadow);
  display: inline-grid;
  justify-content: stretch;
  align-content: center;
  margin: auto;
  position: absolute;
  inset: 0;
}

#login-title {
  display: flex;
  width: 100%;
  font-size: 35px;
  font-weight: 600;
  text-align: center;
  color: var(--color-bg);
  justify-content: center;
}

.login-field {
  height: 50px;
  width: 80%;
  max-width: 400px;
  margin-top: 20px;
  display: inline-flex;
  justify-self: center;
  transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.login-field input {
  height: 100%;
  width: 100%;
  outline: none;
  padding-left: 15px;
  border-radius: 15px;
  border: 1px solid lightgrey;
  border-bottom-width: 2px;
  font-size: 17px;
  transition: all 0.3s ease;
}

.login-field input:focus {
  border-color: var(--color-green);
  box-shadow: inset 0 0 3px var(--color-green);
}

.login-field input::placeholder {
  color: #999;
  transition: all 0.3s ease;
}

form .field input:focus::placeholder {
  color: var(--color-green);
}

.eye-icon {
  width: 18px;
  margin-left: -18px;
  padding-right: 0;
  transform: translateX(-10px);
  background: transparent;
  position: relative;
  display: inline-flex;
  align-items: center;
  color: var(--color-bg);
  cursor: pointer;
}

#login-button {
  height: 50px;
  width: 100%;
  max-width: 200px;
  margin-top: 20px;
  background: var(--color-green);
  border-radius: 8px;
  transition: all 0.05s linear;
  border: none;
  color: var(--color-fg);
  font-family: 'Futura PT', sans-serif;
  font-size: 24px;
  font-weight: 500;
  cursor: pointer;
  justify-self: center;
}

#login-button:hover {
  background: var(--color-alt-green);
}

.login-click {
  width: 40px !important;
  height: 40px !important;
  border-radius: 50% !important;
  background: transparent !important;
  border: 4px solid transparent !important;
  border-left: 4px solid var(--color-green) !important;
  color: transparent !important;
  animation: rotating .75s linear infinite;
}

.login-error {
  border-color: var(--color-red) !important;
  color: var(--color-red) !important;
}

@keyframes rotating {
  from {
      transform: rotate(0deg);
  }

  to {
      transform: rotate(360deg);
  }
}
/*#endregion LOGIN */

/*#region MENU*/
#menu {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(180deg);
}

#menu-toggle {
  margin: 0 0 10px 2px;
  width: 40px;
  height: 40px;
  z-index: 3;
  border-radius: 100%;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: menu-toggle-reverse 0.4s ease-out forwards;
}

#menu:hover #menu-toggle::before, 
#menu:hover #menu-toggle::after {
  background: var(--color-green);
}

#menu-toggle::before, #menu-toggle::after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 4px;
  background: var(--color-fg);
  transition: background .2s linear;
}

#menu-toggle::before {
  width: 4px;
  height: 18px;
}

#menu-toggle::after {
  width: 18px;
  height: 4px;
}

#menu-container {
  width: 32px;
  height: 150px;
  border-radius: 64px;
  position: absolute;
  background: var(--color-green);
  z-index: 2;
  padding: 0.5rem 0.5rem;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.4);
  opacity: 0;
  top: -110px;
  display: flex;
  pointer-events: none;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  transition: opacity 0.2s ease-in, top 0.2s ease-in, width 0.1s ease-in;
}

#menu-container a {
  color: var(--color-white);
  opacity: 0.8;
  transform: rotate(180deg);
  font-size: 24px;
}

#menu-container a:hover {
  transition: 0.2s;
  opacity: 1;
  color: var(--color-dark);
}

#menu input {
  height: 100%;
  width: 100%;
  cursor: pointer;
  position: absolute;
  z-index: 5;
  opacity: 0;
}

#menu input:checked ~ #menu-toggle {
  animation: menu-toggle 0.4s ease-out forwards;
}

#menu input:checked ~ #menu-container {
  width: 32px;
  height: 150px;
  animation: menu-container 0.4s ease-out forwards 0.1s;
  top: -180px;
  opacity: 1;
  pointer-events: all;
}

@keyframes menu-toggle {
  0% {
    transform: rotate(0) scale(1);
  }
  20% {
    transform: rotate(60deg) scale(0.93);
  }
  55% {
    transform: rotate(35deg) scale(0.97);
  }
  80% {
    transform: rotate(48deg) scale(0.94);
  }
  100% {
    transform: rotate(45deg) scale(0.95);
  }
}
@keyframes menu-toggle-reverse {
  0% {
    transform: rotate(45deg) scale(0.95);
  }
  20% {
    transform: rotate(-15deg);
  }
  55% {
    transform: rotate(10deg);
  }
  80% {
    transform: rotate(-3deg);
  }
  100% {
    transform: rotate(0) scale(1);
  }
}
@keyframes menu-container {
  0% {
    transform: scale(1, 1);
  }
  33% {
    transform: scale(0.95, 1.05);
  }
  66% {
    transform: scale(1.05, 0.95);
  }
  100% {
    transform: scale(1, 1);
  }
}

/*#endregion MENU*/

/*#region TOGGLES */
.toggle {
  margin: auto;
  width: 90%;
  box-sizing: border-box;
  font-size: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  height: calc(1vh + 1vw);
}

.toggle input {
  width: 0;
  position: absolute;
  left: -9999px;
}

.toggle input+label {
  cursor: pointer;
  margin: 0;
  padding: 0.75rem 2rem;
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  background-color: var(--color-bg);
  color: var(--color-label-yes);
  font-size: clamp(14px, 3vw, 24px);
  line-height: 140%;
  font-weight: 600;
  text-align: center;
  box-shadow: var(--box-shadow);
  transition: border-color 0.15s ease-out, color 0.25s ease-out, background-color 0.15s ease-out, box-shadow 0.15s ease-out;
}

.toggle input+label:first-of-type {
  border-radius: 6px 0 0 6px;
  border-right: none;
}

.toggle input+label:last-of-type {
  border-radius: 0 6px 6px 0;
  border-left: none;
}

.toggle input:hover+label {
  transform: scale(1.05);
  z-index: 1;
}

.toggle input:active+label {
  transform: scale(.95);
}

.toggle input:checked+label:first-of-type {
  background-color: var(--color-green);
  color: var(--color-fg);
}

.toggle input:checked+label:last-of-type {
  background-color: var(--color-red);
  color: var(--color-fg);
}

@media (max-width: 9999px) {
  .toggle input+label {
    padding: 0.75rem 0.25rem;
    flex: 0 0 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
  }
}
/*#endregion TOGGLES */

/*#region OVERLAYS */
#main-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  position: fixed;
  height: 100vh;
  width: 100vw;
  background: var(--color-overlay);
}

#overlay-title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 2.5%;
  color: var(--color-fg);
  cursor: default;
}

.overlay-cancel {
  background: var(--color-red);
  margin: 0 3.5% 0 0;
  width: calc(50px + 10vw);
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay-submit {
  background: var(--color-green);
  margin: 0 3.5% 0 0;
  width: calc(50px + 10vw);
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#overlay-buttons-holder {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#overlay-mainbox {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 20% 60% 20%;
  border-radius: 10px;
  background-color: var(--color-bg);
  box-shadow: var(--box-shadow);
  height: 30%;
  width: 95%;
  max-width: 1000px;
}

@media screen and (min-width: 1000px) {
  #overlay-mainbox {
    min-height: 400px;  
  }
}

#overlay-textbox {
  color: var(--color-fg);
  height: 92.5%;
  width: 92.5%;
  margin: auto;
  border-radius: 10px;
  resize: none;
  font-size: clamp(14px, 3vw, 26px);
  padding: 10px;
  box-sizing: border-box;
}

/*USER APP OVERLAY*/
#user-app {
  display: none;
  grid-template-columns: 100%;
  grid-template-rows: 20% 60% 20%;
  border-radius: 10px;
  background: var(--color-darkbox);
  box-shadow: var(--box-shadow);
  width: 95%;
  height: 30%;
  max-width: 1000px;
}

#user-app-box {
  height: 92.5%;
  width: 95%;
  margin: auto;
  border-radius: 10px;
  background: var(--color-lightbox);
  box-shadow: var(--box-shadow);
  resize: none;
}

/**********************/
/*LEADERBOARD OVERLAY*/
#leaderboard {
  display: none;
  grid-template-columns: 100%;
  grid-template-rows: 8% 28% 28% 28% 8%;
  border-radius: 10px;
  background: var(--color-bg);
  box-shadow: var(--box-shadow);
  width: 95%;
  height: 95%;
  max-width: 1000px;
}

#leaderboard-box {
  background: var(--color-lightbox);
  color: var(--color-fg);
  height: 92.5%;
  width: 95%;
  margin: auto;
  border-radius: 10px;
  resize: none;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 20% 80%;
  box-shadow: var(--box-shadow);
}

.leaderboard-light-box {
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
  grid-auto-rows: 25%;
  overflow: overlay;
  background: var(--color-overlay);
  border-radius: 5px;
  width: 95%;
  height: 90%;
  margin: auto;
  box-shadow: var(--box-shadow);
}

.leaderboard-cancel {
  background: var(--color-label-yes);
  margin: 0 3.5% 0 0;
  max-width: 150px;
  height: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: center;
  align-self: center;
  margin-top: 10px
}

.leaderboard-delete {
  background: var(--color-red);
  margin: 0 3.5% 0 0;
  max-width: 150px;
  height: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: center;
  align-self: center;
  margin-top: 10px;
}

.checkbox>input {
  cursor: pointer;
  width: 10px;
  height: 10px;
  appearance: none;
  background: var(--color-fg) !important;
  border-radius: 100% !important;
  transition: all 0.2s !important;
}

.checkbox>input:checked {
  background: var(--color-red) !important;
}

.checkbox-label {
  font-size: clamp(12px, 2vw, 24px);
  display: grid;
  grid-template-columns: 18px auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
}
/*#endregion OVERLAYS */

/*#region NOTIFICATION TOAST*/
.toast {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 10px;
  background: var(--color-bg);
  padding: 20px 35px 20px 25px;
  box-shadow: var(--box-shadow);
  overflow: hidden;
  transform: translateX(calc(100% + 30px));
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.35);
  z-index: 99999;
}

.toast:hover .toast-progress.active:before {
  animation-play-state: paused;
}

.toast.active {
  transform: translateX(0%);
}

.toast .toast-content {
  display: flex;
  align-items: center;
}

.toast-content .bell {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  min-width: 35px;
  background-color: var(--toast-status);
  color: var(--color-white);
  font-size: 20px;
  border-radius: 50%;
  padding-right: 0;
}

.toast-content .toast-message {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
}

.toast-message span {
  font-size: 16px;
  font-weight: 400;
  color: var(--color-fg);
  overflow: auto;
  overflow-wrap: break-word;
}

.toast-message span.toast-title {
  font-weight: 600;
  color: var(--toast-status);
}

.toast .close {
  position: absolute;
  top: 10px;
  right: 15px;
  padding: 5px;
  cursor: pointer;
  opacity: 0.7;
  color: var(--color-fg);
}

.toast .close:hover {
  opacity: 1;
}

.toast .toast-progress {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 5px;
  width: 100%;
}

.toast .toast-progress:before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
}

.toast-progress.active:before {
  animation: toast-progress var(--toast-duration) linear forwards;
  background-color: var(--toast-status);
}

@keyframes toast-progress {
  100% {
      right: 100%;
  }
}

@media (max-width: 767px) {
  .toast {
      left: 0;
  }
}

/*#endregion NOTIFICATION TOAST*/